
<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- <link rel="stylesheet" href="../css/style.css"> -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/style.css') }}">
            <title>card with sass</title>
      </head>
      <body>
            {% for image in images %}
            <div class="card card_dark">
                  
                      <!-- <a href="{{ url_for('static', filename='images/' + image) }}">{{ image }}</a> -->
                      <a href="/predict_result_page" ><img src="{{ url_for('static', filename='images/' + image) }}">{{ image }}"></a>
                      <!-- <img src="{{ url_for('static', filename='images/' + image) }}">{{ image }}" /> -->
                    
                  
            </div>
            {% endfor %}






<!--             
            <div class="card card_dark">
                  <a href="/predict_result_page"><img src="{{url_for('static', filename='images/Baked Potato-Test (1).jpeg')}}" /></a>
                  <div class="card_content">
                        <h2 class="card_title">Lorem</h2>
                        <p class="card_description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum porro dolores sapiente.</p>
                  </div>
            </div>

            <div class="card card_dark">
                  
                  <a href="/predict_result_page"><img src="{{url_for('static', filename='images/burger_test.png')}}" /></a>

                  <div class="card_content">
                        <h2 class="card_title">Lorem</h2>
                        <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque amet obcaecati nihil.</p>
                    
            
                  </div>
            </div>

            <div class="card card_dark">
                  <a href="/predict_result_page"><img src="{{url_for('static', filename='images/pizza1.jpg')}}" /></a>
                
                <div class="card_content">
                      <h2 class="card_title">Lorem</h2>
                      <p class="card_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque amet obcaecati nihil.</p>
                  
          
                </div>
          </div> -->

      </body>
</html>

